# Overview
In this assignment, you will explore the coffee production data from 1990 to 2020, focusing on different types of coffee, such as Robusta, Arabica, and blends like Arabica/Robusta and Robusta/Arabica. Your task will involve data aggregation, transformation, and correlation analysis to uncover patterns and relationships in coffee production over three decades.

# Objectives
- Aggregate coffee production data by type over a 30-year period.
- Transpose the aggregated data to facilitate correlation analysis.
- Calculate and analyze the correlation matrix to identify the strength of relationships between different coffee types.

|                | 1990_1991 | 1991_1992 | ... | 2018_2019 | 2019_2020 |          
|----------------|-----------|-----------|-----|-----------|-----------|
| Robusta        |           |           |     |           |           |
| Arabica        |           |           |     |           |           |
| Arabica/Robusta|           |           |     |           |           |
| Robusta/Arabica|           |           |     |           |           |

In [275]:
import pandas as pd

Read the Data from CSV

In [263]:
coffee_production_df = pd.read_csv('coffee_production.csv')

Display the first few rows of the dataframe

In [264]:
coffee_production_df.head()

,country,coffee_type,1990_1991,1991_1992,1992_1993,1993_1994,1994_1995,1995_1996,1996_1997,1997_1998,...,2011_2012,2012_2013,2013_2014,2014_2015,2015_2016,2016_2017,2017_2018,2018_2019,2019_2020,total_production
0,Angola,Robusta/Arabica,3000000,4740000,4680000,1980000,4620000,3720000,4260000,3840000,...,1740000,1980000,2100000,2340000,2460000,2700000,2100000,2520000,3120000,82080000
1,Bolivia (Plurinational State of),Arabica,7380000,6240000,7200000,3060000,7020000,8520000,7500000,8460000,...,7920000,6300000,7200000,6000000,5040000,4680000,5040000,4980000,4860000,207000000
2,Brazil,Arabica/Robusta,1637160000,1637580000,2076180000,1690020000,1691520000,1083600000,1751820000,1568880000,...,2915520000,3325080000,3281340000,3198300000,3172260000,3407280000,3164400000,3907860000,3492660000,75082980000
3,Burundi,Arabica/Robusta,29220000,40020000,37200000,23580000,39840000,26040000,24060000,15000000,...,12240000,24360000,9780000,14880000,16140000,11760000,12120000,12240000,16320000,623640000
4,Ecuador,Arabica/Robusta,90240000,127440000,71100000,124140000,142560000,113280000,119580000,71460000,...,49500000,49680000,39960000,38640000,38640000,38700000,37440000,29760000,33540000,1900380000

# Data preprocessing

Drop the 'country' column to avoid including it in numeric operations

In [265]:
coffee_production_df.drop(['country'], axis=1, inplace=True)

# Data Aggregation

Group the coffee production data by type for each year from 1990 to 2020.

In [266]:
aggregated_data = coffee_production_df.groupby('coffee_type').sum()

Display the DataFrame without the index name

In [267]:
aggregated_data.index.name = None
aggregated_data

,1990_1991,1991_1992,1992_1993,1993_1994,1994_1995,1995_1996,1996_1997,1997_1998,1998_1999,1999_2000,...,2011_2012,2012_2013,2013_2014,2014_2015,2015_2016,2016_2017,2017_2018,2018_2019,2019_2020,total_production
Arabica,1807140000,2073960000,1895580000,1593720000,1715940000,1873440000,1665720000,1739400000,1686780000,1815000000,...,1960020000,1992300000,2047680000,2075280000,2177340000,2429880000,2431260000,2445300000,2341020000,57968520000
Arabica/Robusta,2399820000,2409960000,2787060000,2492700000,2503560000,1948140000,2615880000,2354940000,3043860000,3798120000,...,3634680000,4025820000,3881640000,3785460000,3720480000,4042620000,3822840000,4603500000,4122780000,96668400000
Robusta,266400000,354840000,228840000,198840000,269700000,228360000,390780000,326940000,257700000,485160000,...,248520000,212100000,253260000,198480000,171900000,153240000,185940000,214800000,200100000,7617780000
Robusta/Arabica,1120440000,1237380000,999780000,1220280000,1109640000,1189320000,1526280000,1571940000,1543620000,1784760000,...,2636400000,2840820000,3051960000,2958720000,3297840000,3113340000,3381540000,3084180000,3239280000,63480120000

# Data Transformation

Transpose the aggregated data so that coffee types become the rows and years become the columns.

In [268]:
transposed_data = aggregated_data.T

In [269]:
transposed_data = transposed_data.drop(['total_production'], axis=0)

In [270]:
transposed_data.index.name = None
transposed_data

              Arabica  Arabica/Robusta    Robusta  Robusta/Arabica
1990_1991  1807140000       2399820000  266400000       1120440000
1991_1992  2073960000       2409960000  354840000       1237380000
1992_1993  1895580000       2787060000  228840000        999780000
1993_1994  1593720000       2492700000  198840000       1220280000
1994_1995  1715940000       2503560000  269700000       1109640000
1995_1996  1873440000       1948140000  228360000       1189320000
1996_1997  1665720000       2615880000  390780000       1526280000
1997_1998  1739400000       2354940000  326940000       1571940000
1998_1999  1686780000       3043860000  257700000       1543620000
1999_2000  1815000000       3798120000  485160000       1784760000
2000_2001  1730520000       2683380000  380280000       2030460000
2001_2002  1848120000       2548980000  275040000       1801980000
2002_2003  1796580000       3610380000  270540000       1680000000
2003_2004  1780140000       2386860000  267540000       1895640000
2004_2005  1837200000       3019200000  219360000       1888980000
2005_2006  1834320000       2655240000  230280000       1950240000
2006_2007  2030700000       3607860000  280800000       2204640000
2007_2008  2037300000       3029220000  179100000       2064900000
2008_2009  1700040000       3838140000  273780000       2276100000
2009_2010  1760760000       3294660000  232380000       2384640000
2010_2011  1846080000       4000620000  162780000       2395020000
2011_2012  1960020000       3634680000  248520000       2636400000
2012_2013  1992300000       4025820000  212100000       2840820000
2013_2014  2047680000       3881640000  253260000       3051960000
2014_2015  2075280000       3785460000  198480000       2958720000
2015_2016  2177340000       3720480000  171900000       3297840000
2016_2017  2429880000       4042620000  153240000       3113340000
2017_2018  2431260000       3822840000  185940000       3381540000
2018_2019  2445300000       4603500000  214800000       3084180000
2019_2020  2341020000       4122780000  200100000       3239280000

# Correlation Analysis

Using the Pandas library in Python, apply the corr() method to your transposed dataset to compute the correlation matrix.

In [273]:
correlation_matrix = transposed_data.corr()

In [274]:
correlation_matrix.index.name = None
correlation_matrix

                  Arabica  Arabica/Robusta   Robusta  Robusta/Arabica
Arabica          1.000000         0.623834 -0.453044         0.743225
Arabica/Robusta  0.623834         1.000000 -0.312663         0.826251
Robusta         -0.453044        -0.312663  1.000000        -0.451428
Robusta/Arabica  0.743225         0.826251 -0.451428         1.000000